:is(.menu-left, .menu-right) li a  {
    display: flex;
    align-items: center;
    height: 100%;
    transition: color 0.3s ease-in-out;
}
:is(.menu-left, .menu-right) li a:hover {
    color: var(--yellow);
}
.right-menu-holder .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
 .right-menu-holder .menu-item i {
    font-size: 21px;
 }
.right-menu-holder .menu-item:hover {
    background-color: var(--yellow);
}
